
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/ABeeZeeRegular.ttf"); font-family : "ABeeZee"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/ABeeZeeItalic.ttf"); font-family : "ABeeZee"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MontserratRegular.ttf"); font-family : "Montserrat"; font-weight : 400;  }