:root { 
--blue_A400:#1877f2; 
--blue_gray_100_01:#d1d1d1; 
--blue_gray_200_7f:#b0cdba7f; 
--red_200:#d69e9e; 
--green_900:#005e20; 
--black_900_3f:#0000003f; 
--gray_50:#fbfbfb; 
--blue_gray_200_66:#b0cdba66; 
--black_900_01:#000000; 
--black_900:#0c0c0c; 
--blue_gray_900_01:#24285b; 
--deep_orange_200:#f4a28c; 
--light_green_800_42:#5e814242; 
--blue_gray_900:#373737; 
--gray_600:#9a7b7b; 
--blue_gray_200:#b0cdba; 
--gray_500:#939393; 
--blue_gray_100:#cccccc; 
--blue_800:#0a66c2; 
--blue_500:#1da1f2; 
--gray_200:#eeeeee; 
--yellow_A700:#ffd200; 
--gray_300:#e0eae3; 
--gray_300_01:#e6e6e6; 
--white_A700:#ffffff; 
}